<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>redage.net - Hud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/chat.css">
    <link rel="stylesheet" href="css/hud.css">
    <link rel="stylesheet" href="fonts/notify.css">
    <link rel="stylesheet" href="css/noty.css" />
    <link rel="stylesheet" href="css/theme.css" />
    <style>
        #effect {
            position: absolute;
            left: 0;
            top: 0;
        }

        #safezone {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .inpocket {
            background-image: url('res/inpocket.png');
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            position: absolute;
        }

        .help {
            opacity: 0.5;
            position: absolute;
            text-align: left;
            right: 0px;
            bottom: 25%;
            font-family: Uni Neue;
            font-size: 12px;
        }

        .help p {
            font-size: 12pt;
            font-weight: 600;
            margin: 0;
            color: white;
        }

        .info {
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;
            font-size: 10pt;
            font-weight: 600;
            color: white;
            text-shadow: 1px 1px 5px black,1px 1px 5px black;
        }
    </style>
    <title>HUD</title>
</head>
<body>
    <div id="safezone">
        <div class="inGameHud" v-if="show">
            <div class="adaptivhud">
                <div class="position">
                    <div class="datehud"><p id="time">{{time}}</p><br><p id="datetime">{{date}}</p> </div>

                    <div class="pouch">
                        <img src="images/hud/money_pouch_new.svg">
                        <div class="moneyinblock" >
                            <p id="money">$</p><p id="jsmoney">{{money}}</p>
                        </div>
                    </div>

                    <div class="bank">
                        <img src="images/hud/money_bank_new.svg">
                        <div class="bankinblock">
                            <p id="money">$</p>
                            <p id="jsbank">{{bank}}</p>
                        </div>
                    </div>

             <div class="w3-container" style="width:350px; position:fixed; bottom:20; right:490;">
            <div class="w3-display-container" style="height:200px">
                <div class="w3-display-middle">
                	<canvas id="tacho" data-type="radial-gauge"
                        data-width="200"
                        data-height="200"
                        data-units="Km/h"
                        data-title="false"
                        data-value="0"
                        data-min-value="0"
                        data-max-value="320"
                        data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220,240,260,280,300,320"
                        data-minor-ticks="2"
                        data-stroke-ticks="false"
                        data-highlights='[]'
                        data-border-outer-width=1
                        data-border-middle-width=1
                        data-animation="false"
                        data-color-plate="#222"
                        data-color-major-ticks="#f5f5f5"
                        data-color-minor-ticks="#ddd"
                        data-color-title="#fff"
                        data-color-units="#ccc"
                        data-color-numbers="#eee"
                        data-color-needle-start="rgba(240, 128, 128, 1)"
                        data-color-needle-end="rgba(255, 160, 122, .9)"
                        data-value-box="true"
                        data-value-text="0km"
                        data-font-value="Led"
                ></canvas>
                </div>
                <div class="w3-display-bottomleft" style="z-index:-5;"> 
                	<canvas id="gas" data-type="radial-gauge"
                        data-width="100"
                        data-height="100"
                        data-start-angle="20"
                        data-ticks-angle="140"
                        data-title="false"
                        data-value="0"
                        data-min-value="0"
                        data-max-value="100"
                        data-major-ticks="E,F"
                        data-minor-ticks="2"
                        data-stroke-ticks="false"
                        data-value-box="false"
                        data-animation="false"
                        data-highlights='[
                            { "from": 0, "to": 15, "color": "rgba(255,0,0,.25)" }
                        ]'
                        data-border-outer-width=1
                        data-border-middle-width=1
                        data-color-plate="#222"
                        data-color-major-ticks="#f5f5f5"
                        data-color-minor-ticks="#ddd"
                        data-font-numbers-size="32"
                        data-color-title="#fff"
                        data-color-units="#ccc"
                        data-color-numbers="#eee"
                        data-color-needle-start="rgba(240, 128, 128, 1)"
                        data-color-needle-end="rgba(255, 160, 122, .9)"
                	></canvas>
                </div>
                <div class="w3-display-bottomright" style="z-index:-5;">
                	<canvas id="rpm" data-type="radial-gauge"
                        data-width="100"
                        data-height="120"
                        data-units="RPM"
                        data-title="false"
                        data-value="0"
                        data-min-value="0"
                        data-max-value="1000"
                        data-major-ticks="0,1,2,3,4,5,6,7,8,9,10"
                        data-minor-ticks="2"
                        data-stroke-ticks="false"
                        data-value-box="false"
                        data-animation="false"
                        data-highlights='[
                            { "from": 800, "to": 1000, "color": "rgba(255,0,0,.25)" }
                        ]'
                        data-border-outer-width=1
                        data-border-middle-width=1
                        data-font-numbers-size="32"
                        data-color-plate="#222"
                        data-color-major-ticks="#f5f5f5"
                        data-color-minor-ticks="#ddd"
                        data-color-title="#fff"
                        data-color-units="#ccc"
                        data-color-numbers="#eee"
                        data-color-needle-start="rgba(240, 128, 128, 1)"
                        data-color-needle-end="rgba(255, 160, 122, .9)"
                        data-font-value="Led"
                	></canvas>
                </div>
            </div>
        </div>
                    
                    <div class="locationhud">
                        <div class="gunshud" v-if="ammo"> 
                            <div class="patrons">
                                <img src="images/hud/patron_new.svg"> 
                                <div class="patronsblock">
                                    <p id="patronnum">{{ammo}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="microhud">
                            <img v-if="mic" id="microsound" src="images/hud/micro_on_new.svg">
                        </div>
                        <p id="location">{{crossingRoad}}</p>
                        <p id="street">{{street}}</p>
                    </div>

                    <div class="carhud" :style="{ opacity: inVeh ? 1 : 0 }">
                        <div class="carshuds">
                            <div class="enginehud">
                                <img v-if="engine" id="engined" src="images/hud/engine_on_new.svg">
                                <img v-else id="engined" src="images/hud/engine_off_new.svg">
                            </div>
                            <div class="doorhud">
                                <img v-if="doors" id="doord" src="images/hud/door_open_new.svg">
                                <img v-else id="doord" src="images/hud/door_closed_new.svg">
                            </div>
                            <div class="petrol">
                                <img v-if="fuel < 30" id="petroled" src="images/hud/petrol_min_new.svg">
                                <img v-else-if="fuel < 60" id="petroled" src="images/hud/petrol_mid_new.svg">
                                <img v-else id="petroled" src="images/hud/petrol_max_new.svg">

                                <div v-if="fuel < 30" class="petrolblock" style="color: #f00;"><p id="jsliters">{{fuel}}</p><p id="petrolit">l</p></div>
                                <div v-else-if="fuel < 60" class="petrolblock" style="color: #ff0;"><p id="jsliters">{{fuel}}</p><p id="petrolit">l</p></div>
                                <div v-else class="petrolblock" style="color: #fff;"><p id="jsliters">{{fuel}}</p><p id="petrolit">l</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="help">
            <p>N - Микрофон</p>
            <p>I - Инвентарь</p>
            <p>M - Телефон</p>
            <p>U - Анимации</p>
            <p>2 - Завести машину</p>
            <p>F4 - Ремень безопасности</p>
            <p>L - Закрыть/открыть авто</p>
            <p>5 - Никнеймы</p>
            <p>6 - Круиз-контроль</p>
            <p>F9 - Перезагрузка микрофона</p>
            <p>F5 - Скрыть HUD</p>
            <p>F10 - Помощь</p>
            <p>Ё(~) - Курсор</p>
            
        </div>
        
        <div id="chat" class="chat">
            <ul id="chat_messages"></ul>
        </div>
    
        <div class="logobox">
            <img src="img/logo_serv.png" alt="">
            <a class="revolverp"></a>
			<a class="online">{{online}}/1000<a>
        </div>
    </div>

    <div id="effect"></div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/colorInterpolator.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/hud.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/noty.min.js"></script>
    <script src="js/notify.js"></script>
    <script>
        function hidehud(toggle) {
            if (toggle) {
                HUD.show = false;
                logotype.show = false;
            } else {
                HUD.show = true;
                logotype.show = true;
            }
        }
        function hidehelp(toggle) {
            if (toggle) {
                $('.help').hide();
            } else {
                $('.help').show();
            }
        }
    </script>
    <script>
        function updateSafeZoneSize(screenWidht, screenHeight, safeZoneSize) {
            
            var savezoneDiv = document.getElementById("safezone");
            safeZoneSize = (((1.0 - safeZoneSize) * 0.5) * 100.0);

            savezoneDiv.style.right = savezoneDiv.style.left = ((screenWidht / 100) * safeZoneSize) + "px";
            savezoneDiv.style.top = savezoneDiv.style.bottom = ((screenHeight / 100) * safeZoneSize) + "px";
            return true;
        }
    </script>
</body>
</html>